Repository EWC-consortium/eudi-wallet-rfcs, pull requests merged in 2024-04, with the labels that each got.

#45 Fix #44: RFC-001 Issuer Metdata discovery response
  ewc-rfc001-issue-verifiable-credential.md
Labels: bug, EWC RFC 001

#48 Updated Digidentity details (fixed typo in the company name, added links to iOS and Android apps)
  README.md
Labels: enhancement, wallet-provider-listing

#50 update Sicpa Digital Trust Suite availability
  README.md
Labels: wallet-provider-listing

#51 RFC003 PID Issuance
  README.md
  ewc-rfc003-issue-PID.md
  ewc-rfc003-issue-person-identification-data.md
Labels: EWC RFC 003
