Repository EWC-consortium/eudi-wallet-rfcs, pull requests merged in 2024-09, with the labels that each got.

#63 Openid4vci draft13 alignment
  README.md
  ewc-rfc001-issue-verifiable-credential.md
  ewc-supported-formats.csv
  openapi-spec/Makefile
  openapi-spec/bundled.yaml
  openapi-spec/definitions/rfc001/authorisationCodeGrant.yaml
  openapi-spec/definitions/rfc001/authorisationCodeTokenRequest.yaml
  openapi-spec/definitions/rfc001/authorisationDetails.yaml
  openapi-spec/definitions/rfc001/authorisationResponse.yaml
  openapi-spec/definitions/rfc001/authorisationServerMetadata.yaml
  openapi-spec/definitions/rfc001/clientMetadata.yaml
  openapi-spec/definitions/rfc001/credentialIssuerMetadata.yaml
  openapi-spec/definitions/rfc001/credentialOffer.yaml
  openapi-spec/definitions/rfc001/credentialRequest.yaml
  openapi-spec/definitions/rfc001/deferredCredentialErrorResponse.yaml
  openapi-spec/definitions/rfc001/deferredCredentialRequest.yaml
  openapi-spec/definitions/rfc001/deferredCredentialResponse.yaml
  openapi-spec/definitions/rfc001/ietfSdJwtVcCredentialConfiguration.yaml
  openapi-spec/definitions/rfc001/ietfSdJwtVcCredentialRequest.yaml
  openapi-spec/definitions/rfc001/inTimeCredentialErrorResponse.yaml
  openapi-spec/definitions/rfc001/inTimeCredentialResponse.yaml
  openapi-spec/definitions/rfc001/jwtVcJsonCredentialConfiguration.yaml
  openapi-spec/definitions/rfc001/jwtVcJsonCredentialRequest.yaml
  openapi-spec/definitions/rfc001/msoMdocCredentialConfiguration.yaml
  openapi-spec/definitions/rfc001/msoMdocCredentialRequest.yaml
  openapi-spec/definitions/rfc001/preAuthorisedCodeGrant.yaml
  openapi-spec/definitions/rfc001/preAuthorisedCodeTokenRequest.yaml
  openapi-spec/definitions/rfc001/presentationSubmission.yaml
  openapi-spec/definitions/rfc001/tokenErrorResponse.yaml
  openapi-spec/definitions/rfc001/tokenResponse.yaml
  openapi-spec/ewc.yaml
  openapi-spec/index.html
  openapi-spec/index.yaml
  openapi-spec/paths/rfc001/authorisation.yaml
  openapi-spec/paths/rfc001/authorisationServerMetadata.yaml
  openapi-spec/paths/rfc001/credential.yaml
  openapi-spec/paths/rfc001/credentialIssuerMetadata.yaml
  openapi-spec/paths/rfc001/credentialOffer.yaml
  openapi-spec/paths/rfc001/deferredCredential.yaml
  openapi-spec/paths/rfc001/directPost.yaml
  openapi-spec/paths/rfc001/pushedAuthorisationRequest.yaml
  openapi-spec/paths/rfc001/token.yaml
Labels: enhancement, EWC RFC 001

#76 Fix #75: `vct` field missing in issuer metadata example
  ewc-rfc001-issue-verifiable-credential.md
Labels: bug

#80 Fix: Typo in chapter 3.6 authorisation response
  ewc-rfc001-issue-verifiable-credential.md
Labels: documentation, EWC RFC 001

#81 Fix: Authorization servers in issuer metadata must be an array
  ewc-rfc001-issue-verifiable-credential.md
Labels: bug, documentation, EWC RFC 001
