Repository EWC-consortium/eudi-wallet-rfcs, pull requests merged in 2024-02, with the labels that each got.

#17 Andreas first review
  ewc-rfc001-issue-verifiable-credential.md
Labels: EWC RFC 001

#25 Fix #24: 3.1 Authorisation request example is not aligned with the au…
  ewc-rfc002-present-verifiable-credentials.md
Labels: EWC RFC 002

#22 Typo errors fixed, added VIDWallet into the implementers table
  ewc-rfc002-present-verifiable-credentials.md
Labels: EWC RFC 002

#31 Notes on issuer trust list and supported trust frameworks
  ewc-rfc001-issue-verifiable-credential.md
Labels: EWC RFC 001

#32 EWC supports only direct_post in verify flow
  ewc-rfc002-present-verifiable-credentials.md
Labels: EWC RFC 002

#33 Fix #15: Section 3.4 Discover Response subject_syntax_types_discrimin…
  ewc-rfc001-issue-verifiable-credential.md
Labels: enhancement, EWC RFC 001
